# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  # repetitive because unfortunately Dependabot ticket for wildcard support still open:
  # https://github.com/dependabot/dependabot-core/issues/2178
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: 'packages/authorization'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: 'packages/graphql-modules'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: 'packages/server'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: 'packages/types'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'docker'
    directory: 'packages/server/docker/server'
    schedule:
      interval: 'weekly'
    # we want LTS version of NodeJS and not suggested current version
    ignore:
      - dependency-name: 'node'
        update-types: ['version-update:semver-major']
  - package-ecosystem: 'docker'
    directory: 'packages/server/docker/swr-queue-worker'
    schedule:
      interval: 'weekly'
    # we want LTS version of NodeJS and not suggested current version
    ignore:
      - dependency-name: 'node'
        update-types: ['version-update:semver-major']
