# Transpiled code
dist/

# Generated pact files
pacts/

# Generated GraphQL types
packages/server/src/types.ts
packages/types/src/index.ts

# Lerna config
lerna.json

# Yarn
.yarn/

# Compiled DB migrations
packages/db-migrations/migrations/
