name: Push docker image with semver version
on:
  push:
    branches:
      - main

jobs:
  update-version:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.version.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - id: version
        uses: salsify/action-detect-and-tag-new-version@v2
        with:
          version-command: |
            jq ".version" --raw-output < lerna.json
  docker-image:
    runs-on: ubuntu-latest
    needs: update-version
    if: ${{ needs.update-version.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - uses: serlo/configure-repositories/actions/setup-node@main
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_KEY_CONTAINER_REGISTRY }}'
      - run: gcloud auth configure-docker
      - uses: google-github-actions/setup-gcloud@v2
      - run: yarn deploy:images
